# editor droppings
*.sw[po]
*~

# Cargo build directory
target/

# personal development notes
notes.txt

# Python bytecode
__pycache__/
*.pyc

# "Chess" (?) board download zipball and unpacked resources (very
# important, but we're not vendorizing them into the repo)
web_client/resources/chessboardjs-0.3.0.zip
web_client/resources/public/css/chessboard-0.3.0.css
web_client/resources/public/css/chessboard-0.3.0.min.css
web_client/resources/public/js/chessboard-0.3.0.js
web_client/resources/public/js/chessboard-0.3.0.min.js

# boring, mainstream JavaScript compiled from cool new ECMAScript 6
web_client/resources/public/js/client-built.js

# virtualenv droppings (yes, I know this isn't even a Python project; humor me)
.Python
include/
bin/
lib/
lib64
pyvenv.cfg
pip-selfcheck.json

# npm droppings (yes, I know this isn't even a Node project; humor me)
node_modules/

# we BUILD these things!
src/motion.rs
