#content {
    margin-top: 15px;
}

#history {
    background-color: #E0E0E0;
    overflow-y: scroll;
    height: 400px;
}

.agent-icon {
    margin: 0px;
    width: 20px;
    height: auto;
}

.commentary {
    font-size: 10px;
    color: #303060;
}

.headline {
    line-height: 0px;
}

#spinner {
    width: 20px;
    height: auto;
}

.ascension-button img {
    margin-left: 0px;
    width: 50px;
    height: auto;
}

.ascension-button {
    padding: 15px;
}
