{% extends "base.html" %}

{% block page-styles %}
  {% style "/css/chessboard-0.3.0.min.css" %}
  {% style "/css/world.css" %}
{% endblock %}


{% block page-scripts %}
  {% script "/js/chessboard-0.3.0.min.js" %}
  {% script "/js/client-built.js" %}
{% endblock %}


{% block content %}
  <div id="content">
    <div class="row">
      <div class="small-6 column">
        <div id="world" style="width: 400px"></div>
        <h5><strong>AI lookahead</strong></h5>
        <div class="row">
          <div class="small-4 column">
            <label for="bound" class="right">search</label>
            <input id="bound-input"
                   name="bound" class="right" size="3" value="4" />
          </div>
          <div class="small-4 column">
            <div>
              <input id="depth-radio-button"
                     type="radio" name="lookahead" value="depth" checked />
              depth
            </div>
            <div>
              <input id="seconds-radio-button"
                     type="radio" name="lookahead" value="seconds" />
              seconds
            </div>
          </div>
          <div class="small-4 column">
            <img id="spinner" src="/img/spinner.gif" style="display: none;"/>
          </div>
        </div>
        <div id="message-row" class="row">
          <div id="message" class="alert-box">
            Welcome Orange Team! Click and drag a figurine to
            play. The AI will move the Blue Team's figurines; use the
            controls above to regulate how long or how far ahead it
            should think.
          </div>
        </div>
      </div>
      <div id="history" class="small-6 column" data-year="1">
      </div>
    </div>
  </div>

  <div id="ascension-modal" class="reveal-modal"
       data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a id="ascension-modal-close-control"
       class="close-reveal-modal" aria-label="Close">&#215;</a>
    <p><strong>Select an ascension form for this servant.</strong></p>
    <div>
      <div id="pony-ascension-button" class="button ascension-button"
           data-job-description-rune="N">
        <img class="ascension-icon" src="img/figurines/wN.png"/>
        transform into Pony
      </div>
      <div id="scholar-ascension-button" class="button ascension-button"
           data-job-description-rune="B">
        <img class="ascension-icon" src="img/figurines/wB.png"/>
        transition into Scholar
      </div>
    </div>
    <div>
      <div id="cop-ascension-button" class="button ascension-button"
           data-job-description-rune="R">
        <img class="ascension-icon" src="img/figurines/wR.png"/>
        be brevetted to Cop
      </div>
      <div id="princess-ascension-button" class="button ascension-button"
           data-job-description-rune="Q">
        <img class="ascension-icon" src="img/figurines/wQ.png"/>
        transition into Princess
      </div>
    </div>
  </div>

  <div id="orange-triumph-modal" class="reveal-modal"
       data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a id="ascension-modal-close-control"
       class="close-reveal-modal" aria-label="Close">&#215;</a>
    <p>
      The <span style="color: #E0C000;"><strong>Orange</strong></span>
      team has triumphed!
    </p>
  </div>

  <div id="blue-triumph-modal" class="reveal-modal"
       data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a id="ascension-modal-close-control"
       class="close-reveal-modal" aria-label="Close">&#215;</a>
    <p>
      The <span style="color: #0000C0;"><strong>Blue</strong></span>
      team has triumphed!
    </p>
  </div>

  <div id="deadlock-modal" class="reveal-modal"
       data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a id="ascension-modal-close-control"
       class="close-reveal-modal" aria-label="Close">&#215;</a>
    <p><strong>Deadlock!!</strong></p>
  </div>


{% endblock %}
