{% extends "base.html" %}

{% block page-styles %}
  {% style "/css/chessboard-0.3.0.css" %}
  {% style "/css/world.css" %}
{% endblock %}


{% block page-scripts %}
  {% script "/js/chessboard-0.3.0.js" %}
  {% script "/js/client-built.js" %}
{% endblock %}


{% block content %}
  <div id="content">
    <div class="row">
      <div class="small-6 column">
        <div id="world" style="width: 400px"></div>
      </div>
      <div id="history" class="small-6 column" data-year="1">
      </div>
    </div>
  </div>
{% endblock %}
