{% extends "base.html" %}

{% block page-styles %}
  {% style "/css/chessboard-0.3.0.css" %}
{% endblock %}


{% block page-scripts %}
  {% script "/js/chessboard-0.3.0.js" %}
  <script>
   var configuration = {
       position: 'start',
       draggable: true,
       pieceTheme: 'img/figurines/{piece}.png'
   };
   var world = ChessBoard('world', configuration);
  </script>
{% endblock %}


{% block content %}
  <div class="row">
    <div class="span12">
      <div id="world" style="width: 400px"></div>
    </div>
  </div>
{% endblock %}
